h1 {
    color: red;
}
.test-div {
    border: dashed;
}
input[class$="red"] {
   border: solid 1px red;
}
p span:hover {
    color: green;
}

#mydivID {
    color:blue;
}

#grandparent>#parent>#child1 {
    color: red;
}

.mylogin input[type="password"] {
    border: solid 1px red;
}
